<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%=title||'文档'%></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width,minimum-scale=1.0,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,minimal-ui" name="viewport">
    <link rel="stylesheet" href="/<%=options.static_prefix%>/reset.css">
    <link rel="stylesheet" href="/<%=options.static_prefix%>/markdown.css">
    <link rel="stylesheet" href="/<%=options.static_prefix%>/highlightjs.css">
    <link rel="stylesheet" href="/<%=options.static_prefix%>/iconfont/iconfont.css">
    <link rel="stylesheet" href="/<%=options.static_prefix%>/page.css">

    <script src="/<%=options.static_prefix%>/jquery.js"></script>
</head>
<body>
    <div class="progress-indicator-2"></div>
    <div id="nav-mini"><i class="iconfont">&#xe653;</i></div>
    <div id="nav">
        <div class="nav-inner">
            <h2><%=options.name%></h2>
            <div class="nav-search">
                <input type="text" value="<%=key||''%>" id="J-search" class="typeahead" placeholder="搜点什么呢">
            </div>
            <div id="nav-tree">
                <%=#nav_data%>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="markdown-body">
            <%=#markdown_data%>
        </div>
    </div>
    
    <script src="/<%=options.static_prefix%>/pjax.js"></script>
    <script src="/<%=options.static_prefix%>/typeahead.jquery.js"></script>
    <script src="/<%=options.static_prefix%>/page.js"></script>
</body>
</html>