<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/<%=options.static_prefix%>/reset.css">
    <link rel="stylesheet" type="text/css" href="/<%=options.static_prefix%>/icon.css">
    <link rel="stylesheet" type="text/css" href="/<%=options.static_prefix%>/markdown.css">
    <link rel="stylesheet" type="text/css" href="/<%=options.static_prefix%>/highlightjs.css">
    <link rel="stylesheet" type="text/css" href="/<%=options.static_prefix%>/mdjs.css">

    <script src="/<%=options.static_prefix%>/jquery.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/jstree.min.js"></script>
</head>
<body>

    <div class="md-wrap" data-open="true">
        <div class="md-head">
            <a class="md-title" href="/">
                <%=options.name%>
            </a>
        </div>
        <div class="md-body">
            <div class="md-body-left">
                <div class="md-body-left-tools">
                    <span class="icon-chevron-right" title="点击展开"></span>
                    <span class="icon-chevron-left" title="点击关闭"></span>
                </div>
                <div class="clear md-body-tabnav">
                    <span class="md-body-tabnav-item md-body-tabnav-active"><i class="icon icon-menu"></i>目录</span>
                    <!-- <span class="md-body-tabnav-item"><i class="icon icon-heart"></i>收藏</span> -->
                </div>

                <div class="md-body-tabcont md-body-tab-dir" style="display: block;">
                    <form class="md-body-tab-search-form c-gap-top c-gap-left c-gap-right" onsubmit="return false;" autocomplete="off">
                        <label class="md-body-tab-search-form-text">
                            <input type="text" name="keyword" placeholder="请输入搜索关键词..." value="<%=key||''%>">
                        </label>
                        <button class="md-body-tab-search-form-btn icon-search" type="submit"></button>


                        <div class="md-body-search-down">
                        </div>
                    </form>

                    <div class="md-body-tab-dir-tree md-scroll" id="nav">
                        loading...
                    </div>

                    
                </div>
            </div>

            <div class="md-body-right md-scroll">
                <div class="md-body-right-inner">
                <div class="markdown-body">
                    <%=#markdown_data%>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        window.nav_data = <%=#nav_data%>
    </script>
    <script src="/<%=options.static_prefix%>/mdjs.js"></script>
</body>
</html>