/*
 * 全局间距样式
 * 定义大/中/小三种,四个方向间距
 */
.c-gap-top {
  margin-top: 8px;
}
.c-gap-right {
  margin-right: 8px;
}
.c-gap-bottom {
  margin-bottom: 8px;
}
.c-gap-left {
  margin-left: 8px;
}
.c-gap-top-small {
  margin-top: 4px;
}
.c-gap-right-small {
  margin-right: 4px;
}
.c-gap-bottom-small {
  margin-bottom: 4px;
}
.c-gap-left-small {
  margin-left: 4px;
}
.c-gap-top-large {
  margin-top: 12px
}
.c-gap-right-large {
  margin-right: 12px
}
.c-gap-bottom-large {
  margin-bottom: 12px
}
.c-gap-left-large {
  margin-left: 12px
}


.c-line-clamp1 {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.md-scroll {
    overflow: auto; 
}
.md-scroll::-webkit-scrollbar {
    height: 10px;
    width: 7px;
    background: rgba(0,0,0,.1);
}
.md-scroll::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

/* 清理浮动 */
.clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.clear {
    zoom:1; /* for IE6 IE7 */
}

a {
    color: #136ec2;
    text-decoration: none;
    outline: 0;
}

input, select, textarea, button, body, code {
    font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    color: #222;
    background-color: #fff;
    font-size: 14px;
    word-wrap: break-word;
    line-height: 1em;
}

/*.md-wrap {
    min-width: 980px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: 55px;
}*/
.md-head {
    height: 40px;
    line-height: 40px;
    padding: 0 .8em;
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-bottom: 1px solid  #ddd; 
    border-bottom-color: #4791ff; 
}
.md-wrap[data-open="false"] .md-head {
    position: relative; 
}
.md-title {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #333;
    font-size: 16px; 
}
.md-body-left {
    position: fixed;
    left: 0;
    top: 41px;
    z-index: 301;
    bottom: 0;
    width: 279px;
    border-right: 1px solid #ddd;
    background-color: #fafafa;

    -webkit-transition: left .3s; 
    -o-transition: left .3s; 
    transition: left .3s; 
}
.md-wrap[data-open="false"] .md-body-left {
    left: -280px; 
}
.md-body-tabnav {
    border-bottom: 1px solid #ddd;
}
.md-body-tabnav-item {
    padding: 0 9px;
    cursor: pointer;
    float: left;
    height: 30px;
    line-height: 30px;
    color: #999;
}
.md-body-tabnav-item .icon {
    color: #aaa; 
    margin-right: 4px; 
}
.md-body-tabnav-active {
    border-bottom: 1px solid #fafafa;
    margin-bottom: -1px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-left: 8px;
    padding-right: 8px;
}
.md-body-tabnav-item:hover,
.md-body-tabnav-item:hover .icon,
.md-body-tabnav-active,
.md-body-tabnav-active .icon {
    color: #333; 
}
.md-body-tabcont {
    display: none;
    position: absolute;
    top: 31px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fafafa;
}
.md-body-tab-search-form {
    position: relative; 
    z-index: 310; 
}
.md-body-tab-search-form-text {
    display: block;
    padding-right: 36px;
}
.md-body-tab-search-form-text input {
    padding: 6px 10px;
    border: 1px solid #ccc;
    height: 20px;
    line-height: 20px;
    padding-right: 24px;
    width: 100%; 
}
.md-body-tab-search-form-text input:focus {
    outline: 0;
    border-color: #4791ff;
}
.md-body-tab-search-form-btn {
    line-height: 100%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    height: 20px;
    width: 20px;
    margin-top: -10px;
    border: 0;
    background-color: #fff;
    background-color: transparent;
    border-radius: 10px;
    right: 6px;
}
.md-body-tab-search-form-btn:focus {
    outline: 0; 
}

.md-body-tab-dir-tree {
    position: absolute;
    z-index: 309; 
    top: 52px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #eee;
}

/*搜索下拉提示*/
.md-body-search-down {
    position: absolute;
    top: 34px;
    border: 1px solid  #eee; 
    background-color: #fff; 
    width: 100%; 
    display: none; 
}
.md-body-search-down li {
    padding: 5px;
    padding-left: 12px; 
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.md-body-search-down li:hover {
    background-color: #f4f3ef;
}
.md-body-search-down-active {
    background-color: #e4e3df;
    color: #333;
}

/*左侧导航隐藏切换*/
.md-body-left-tools {
        position: absolute;
    top: 50%;
    right: -14px;
}
.md-body-left-tools span {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 50%;
    color: #fff;
    position: relative;
    font-size: 18px;
    vertical-align: top;
    display: none; 
}
.md-body-left-tools span:before {
    position: absolute;
    top: 5px;
    right: 0;
}
.md-wrap[data-open="true"] .icon-chevron-left,
.md-wrap[data-open="false"] .icon-chevron-right {
    display: inline-block; 
}


.md-body-right {
    position: absolute;
    left: 280px;
    top: 41px;
    z-index: 300;
    bottom: 0;
    right: 0;
    -webkit-transition: left .3s; 
    -o-transition: left .3s; 
    transition: left .3s; 
}
.md-wrap[data-open="false"] .md-body-right {
    left: 0; 
    position: relative; 
    top: 0; 
}
.md-wrap[data-open="false"] .md-body-right-inner {
    padding-left: 30px; 
    padding-right: 30px; 
}
.md-body-right-inner {
    padding: 10px 20px; 
    -webkit-transition: padding .3s; 
    -o-transition: padding .3s; 
    transition: padding .3s; 
}