
a {
    color: #4183c4;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

input,
select,
textarea,
button {
    font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    background-color: #fff;
    color: #333;
    font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}


.progress-indicator-2 {
    background-color: #0a74da;
    height: 3px;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 20;
}

#nav {
    background-color: #fff;
    border-right: 1px solid #bbb;
    -webkit-box-shadow: 0 0 40px #ccc;
       -moz-box-shadow: 0 0 40px #ccc;
            box-shadow: 0 0 40px #ccc;
    height: 100%;
    overflow: auto;
    overflow: -moz-scrollbars-vertical;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    -webkit-transition: left 0.4s;
         -o-transition: left 0.4s;
            transition: left 0.4s;
    width: 260px;
    z-index: 10;
}

.nav-inner {
    margin: 15px;
}
#nav h2 {
    font-size: 21px;
    line-height: 1.1;
    margin-bottom: 15px;
    margin-top: 15px;
}

#nav-tree ul {
    list-style: none;
}

#nav-tree ul,
#nav-tree li {
    margin: 0;
    padding: 0;
}

#nav-tree ul ul {
    margin-left: 20px;
}
.nav-tree-text > a {
    line-height: 26px;
    height: 26px;
    overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#nav-tree a {
    display: block;
    padding-left: 5px;
}
#nav-tree a:hover,
.nav-tree-current > .nav-tree-text > a {
    background-color: #f0f0f0;
    text-decoration: none;
}
.nav-tree-dir-open {
    height: auto !important;
}
.nav-tree-dir > ul {
    display: none;
}
.nav-tree-dir-open > ul {
    display: block;
}

.nav-tree-file > .nav-tree-text > a:before,
.nav-tree-dir > .nav-tree-text > a:before {
    font-family: "iconfont" !important;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    margin-right: 3px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke-width: 0.2px;
}
.nav-tree-file > .nav-tree-text > a:before {
    content: "\e653";
}
.nav-tree-dir > .nav-tree-text > a:before {
    content: "\e656";
}

.nav-tree-dir-open > .nav-tree-text > a:before {
    content: "\e652";
}

#nav-mini {
    display: none;
}
#content {
    margin: 0 20px;
    padding-bottom: 10px;
    padding-left: 300px;
    padding-top: 10px;
}
#content.loading:after {
    background: rgba(255,255,255,0.5) url("./loading-32-32.gif") no-repeat center center;
    content: "加载中";
    display: block;
    font-size: 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#nav.nav-show {
    left: 0;
}

@media (max-width: 600px) {
    #nav {
        left: -300px;
        opacity: 0.96;
    }
    #nav-mini {
        background-color: #333;
        border-radius: 15px;
        bottom: 10px;
        color: #fff;
        display: block;
        font-size: 30px;
        height: 50px;
        opacity: 0.9;
        position: fixed;
        right: 10px;
        text-align: center;
        width: 50px;
        z-index: 11;
    }
    #nav-mini .iconfont {
        font-size: 30px;
    }
    #content {
        padding-left: 0;
    }
    .nav-tree-text > a {
        line-height: 32px;
        height: 32px;
    }
}



/*搜索*/
.nav-search {
    margin-bottom: 20px;
}

.typeahead,
.tt-query,
.tt-hint {
    border: 2px solid #ccc;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    outline: none;
    padding: 0 5px;
    width: 216px;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
            box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    margin-top: 4px;
    padding: 4px 0;
    width: 230px;
}

.tt-suggestion {
    font-size: 14px;
    line-height: 24px;
    padding: 3px 8px;
}

.tt-suggestion:hover,
.tt-suggestion:hover .tt-highlight{
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}

.tt-suggestion.tt-cursor,
.tt-suggestion.tt-cursor .tt-highlight {
    background-color: #0097cf;
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}
.tt-highlight {
    background-color: yellow;
}
